<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HOBBY</name>
    <description>
        Zadanie na kolokwium HOBBY
    </description>
    <author email="michal.l.mirowski@gmail.com" href=" ">
		Micha³ Mirowski
	</author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-battery-status" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-camera" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-console" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-device" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="&gt;1.0.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="&gt;1.0.0" />
	<plugin name="com.phonegap.plugins.barcodescanner" spec="2.0.0" source="pgb" />
	<plugin name="com.brodysoft.sqliteplugin" spec="1.0.6" source="pgb" />
	<plugin name="com.jamiestarke.webviewdebug" spec="1.0.8" source="pgb" />
	<feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device" />
	</feature>
    <platform name="android">
        <icon density="ldpi" src="img/logo.png" />
        <icon density="mdpi" src="img/logo.png" />
        <icon density="hdpi" src="img/logo.png" />
        <icon density="xhdpi" src="img/logo.png" />
        <icon density="xxhdpi" src="img/logo.png" />
        <icon density="xxxhdpi" src="img/logo.png" />
        <splash density="land-ldpi" src="img/logo.png" />
        <splash density="land-mdpi" src="img/logo.png" />
        <splash density="land-hdpi" src="img/logo.png" />
        <splash density="land-xhdpi" src="img/logo.png" />
        <splash density="land-xxhdpi" src="img/logo.png" />
        <splash density="land-xxxhdpi" src="img/logo.png" />
        <splash density="port-ldpi" src="img/logo.png" />
        <splash density="port-mdpi" src="img/logo.png" />
        <splash density="port-hdpi" src="img/logo.png" />
        <splash density="port-xhdpi" src="img/logo.png" />
        <splash density="port-xxhdpi" src="img/logo.png" />
        <splash density="port-xxxhdpi" src="img/logo.png" />
    </platform>
	    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>

